server:
  port: 8080

spring:
  data:
    mongodb:
      host: localhost
      port: 27017
      authentication-database: admin
      database: hug
      username : howoo
      password : howoo

  redis:
    host: 127.0.0.1
    port: 6379

  security:
    oauth2:
      client:
        registration:
          google:
            client-id:
            client-secret: 

